<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="/login">Have an account?</a>
        </p>

        <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>

        <%= form_with(model: @user, url: create_path) do |f| %>

          <fieldset class="form-group">
            <%= f.text_field :username, class: "form-control form-control-lg", placeholder: "Username" %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.text_field :email, class: "form-control form-control-lg", placeholder: "Email" %>

          </fieldset>
          <fieldset class="form-group">
            <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Password" %>
          </fieldset>

          <button class="btn btn-lg btn-primary pull-xs-right">Sign up</button>
        <% end %>
      </div>
    </div>
  </div>
</div>